@import "normalize.styl"
@import "fonts.styl"
azul_face= #3d5a98
body
	font-family 'Varela Round'
	font-size 16px
.color-white
	color white
.facebook
	background-color azul_face                                                              
.home
	.bt-home
		.inicio
			background-image url(img/home-inicio.jpg)
			background-repeat: no-repeat 
			width 100%
			height 500px
			margin 0 auto 			
.logo		
	text-align center
	margin-top -25em
.redes
	background-color red
	width 250px
	height 150px
.login-social
	width 220px
	height 50px		
	border-radius .5em		
.welcome
	p
	text-align center	
	font-size 1.5em	
	margin-top 60px		
